// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~@nativescript/theme/core';
@import '~@nativescript/theme/default';

// Override variables here

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
Page, .ns-modal, html {
	--emsa-blue: #0e4c97;
	--emsa-yellow: #e0d239;
	--emsa-white: #e2e2e2;
	--emsa-black: #1d1d1d;
	--emsa-red: #ff5443;
	font-family: Arial, sans-serif;
}

.ns-light, body {
	--color: var(--emsa-black);
	--highlight: var(--emsa-blue);
	--border-color: var(--emsa-blue);
}

.ns-dark {
	--color: var(--emsa-white);
	--highlight: var(--emsa-yellow);
	--border-color: var(--emsa-blue);
}

.ns-modal {
	border-radius: 5;
	padding: 15;

	&__close-button {
		margin-right: 0;
		padding: 0;
	}
}

.emsa-page {
	color: var(--color);
}

.emsa-root, .ns-modal {
	.emsa-menu {
		font-weight: bold;
		border-bottom-width: 5;
		border-bottom: 5px solid;
		border-color: var(--emsa-blue);
		font-size: 12;
		margin-top: 10;
		display: flex;
		width: 100%;
		padding-inline-start: 0;

		&__item {
			list-style-type: none;
			padding: 10 0;
			margin: 0;
			height: auto;
			background-color: var(--emsa-blue);
			color: var(--emsa-yellow);
			android-elevation: 0;
			border-radius: 0;
			border-width: 1;
			border-color: var(--emsa-blue);

			flex-grow: 1;

			~ .emsa-menu__item {
				border-left: 2px solid;
				border-left-color: var(--emsa-yellow);
			}

			a {
				color: inherit;
				text-decoration: none;
				display: block;
				text-align: center;
				padding: 10px;
			}

			&--is-selected, a:hover {
				color: var(--emsa-blue);
				border-color: var(--emsa-yellow);
				border-bottom-color: var(--emsa-blue);
				background-color: var(--emsa-yellow);
			}
		}
	}

	.h1 {
		color: var(--highlight);
		margin-bottom: 1rem;
		margin-top: 1rem;
		margin-bottom: 15;
		font-size: 2rem;
		font-size: 28;
	}

	.h2 {
		font-size: 1.5rem;
		font-size: 24;
		margin: 0.7s5rem 0rem;
		margin: 10 0;
	}

	.p {
		margin: 0.5rem 0rem;
		margin: 10 0;
	}

	.side-padded {
		padding: 0 1rem;
		padding: 0 10;
	}

	.link {
		color: var(--emsa-red);
		text-decoration: underline;
		cursor: pointer;

		&:hover {
			font-weight: bold;
		}
	}

	.button {
		background-color: var(--emsa-blue);
		color: var(--emsa-yellow);
		font-weight: bold;
		font-size: 1rem;
		font-size: 16;
		padding: 0.5rem 1.25rem;
		padding: 5 20;
		text-align: center;
		display: inline-block;
		text-decoration: none;
		border: none;
		box-sizing: border-box;

		&:hover {
			background-color: var(--emsa-yellow);
			color: var(--emsa-blue);
		}

		&__is-inline {
			margin: 0 1rem;
			margin: 0 15;
		}
	}

	.cta {
		width: auto;
		height: auto;
		padding: 1.25rem 2rem;
		padding: 20 30;
		border-radius: 1rem;
		border-radius: 15;

		&--is-round {
			width: 2.5rem;
			height: 2.5rem;
			width: 40;
			height: 40;
			display: flex;
			border-radius: 50%;
			font-size: 1.5rem;
			align-items: center;
			justify-content: center;
			font-size: 20;
			padding: 0;
		}

		&--is-close {
			float: right;
		}

		&--is-back {
			float: left;
		}
	}

	.indicator-background {
		margin-top: 25;
		background-color: white;
		height: 40;
		width: 40;
		border-radius: 50%;
		padding: 5;
		z-index: 1;
		android-elevation: 4;

		ActivityIndicator {
			color: black;
		}
	}

	.form {
		&__error {
			color: var(--emsa-red);
		}

		&__submit {
			clear: both;
		}
	}

	.form-field {
		padding: 0.5rem 1rem;
		padding: 0 20;
		text-align: left;

		&__label {
			font-size: 16;
			font-weight: bold;
			color: var(--color);
			display: block;
		}

		&__input {
			color: var(--color);
			font-size: 12;
			margin-bottom: 10;

			&[type=text], &[type="email"], &[type="password"] {
				display: block;
				width: 100%;
			}

			Label {
				font-size: inherit;
			}
		}

		&__error {
			color: var(--emsa-red);
		}

		&__desc {
			color: var(--highlight);
			font-size: 0.85rem;
			font-size: 10;
		}
	}

	.fas {
		font-family: "Font Awesome 5 Free", fa-solid-900;
		font-weight: 900;
	}

	.plain-list {
		margin-bottom: 1rem;
		margin-bottom: 15;
		li {
			border-bottom: 1px solid var(--highlight);
			border-bottom-width: 1;
			border-color: var(--highlight);
			padding-top: 0.5rem;
			padding-top: 10;
		}
	}

	header {
		margin-bottom: 1rem;
	}
}

