// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~@nativescript/theme/core';
@import '~@nativescript/theme/default';

// Override variables here

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
Page, .ns-modal, html {
	--emsa-blue: #0e4c97;
	--emsa-yellow: #e0d239;
	--emsa-white: #e2e2e2;
	--emsa-black: #1d1d1d;
	--emsa-red: #ff5443;
}

.ns-light, body {
	--color: var(--emsa-black);
	--highlight: var(--emsa-blue);
	--border-color: var(--emsa-blue);
}

.ns-dark {
	--color: var(--emsa-white);
	--highlight: var(--emsa-yellow);
	--border-color: var(--emsa-blue);
}

.ns-modal {
	border-radius: 5;
	padding: 15;

	&__close-button {
		margin-right: 0;
		padding: 0;
	}
}

.emsa-page {
	color: var(--color);
}

.emsa-root, .ns-modal {
	.emsa-menu {
		font-weight: bold;
		border-bottom-width: 5;
		border-color: var(--emsa-blue);
		font-size: 12;
		margin-top: 10;

		&__item {
			padding: 10 0;
			margin: 0;
			height: auto;
			background-color: var(--emsa-blue);
			color: var(--emsa-yellow);
			android-elevation: 0;
			border-radius: 0;
			border-width: 1;
			border-color: var(--emsa-blue);

			&--is-selected {
				color: var(--emsa-blue);
				border-color: var(--emsa-yellow);
				background-color: var(--emsa-yellow);
			}
		}
	}

	.h1 {
		color: var(--highlight);
		margin-bottom: 15;
	}

	.side-padded {
		padding: 0 10;
	}

	.button {
		background-color: var(--emsa-blue);
		color: var(--emsa-yellow);
		font-weight: bold;
		font-size: 16;
		padding: 5 20;
		text-align: center;
	}

	.cta {
		width: auto;
		height: auto;
		padding: 20 30;
		border-radius: 15;

		&--is-round {
			width: 40;
			height: 40;
			border-radius: 50%;
			font-size: 20;
			padding: 0;
		}
	}

	.indicator-background {
		margin-top: 25;
		background-color: white;
		height: 40;
		width: 40;
		border-radius: 50%;
		padding: 5;
		z-index: 1;
		android-elevation: 4;

		ActivityIndicator {
			color: black;
		}
	}

	.form {
		&__error {
			color: var(--emsa-red);
		}
	}

	.form-field {
		padding: 0 20;

		&__label {
			font-size: 16;
			font-weight: bold;
			color: var(--color);
		}

		&__input {
			color: var(--color);
			font-size: 12;
			margin-bottom: 10;

			Label {
				font-size: inherit;
			}
		}

		&__error {
			color: var(--emsa-red);
		}
	}
}

.fas {
	font-family: Font Awesome 5 Free, fa-solid-900;
	font-weight: 900;
}
