// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~@nativescript/theme/core';
@import '~@nativescript/theme/default';

// Override variables here

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
Page, .ns-modal, html {
	--emsa-blue: #0e4c97;
	--emsa-yellow: #e0d239;
	--emsa-white: #e2e2e2;
	--emsa-black: #1d1d1d;
}

.ns-light, body {
	--color: var(--emsa-black);
	--border-color: var(--emsa-yellow);
}

.ns-dark {
	--color: var(--emsa-white);
	--border-color: var(--emsa-blue);
}

.ns-modal {
	border-radius: 5;
	&__close-button {
		width: 40;
		height: 40;
		border-radius: 50%;
		margin-right: 0;
	}
}

.emsa-page {
	padding: 10;
	color: var(--color);

	DataFormEditorLabel {
		font-size: 16;
		font-weight: bold;
		color: var(--color);
	}

	Button {
		background-color: var(--emsa-blue);
		color: var(--emsa-yellow);
		font-weight: bold;
		font-size: 16;
	}
}
